@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes orbit-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes orbit-spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.animate-orbit-spin {
  animation: orbit-spin 20s linear infinite;
}

.animate-orbit-spin-reverse {
  animation: orbit-spin-reverse 20s linear infinite;
}
